@charset "UTF-8";

* {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
}

body {
  background-color: white;
}

.logo {
  width: 4rem;
}

.imgPrincipal {
  width: 20rem;
}

h1 {
  text-align: center;
  color: #E21717;
  font-family: 'Zen Dots', cursive;
  margin-top: 1rem;
  margin-bottom: none;
}


/* CAROUSEL */

.formaCarousel {
  padding-top: 30px;
  margin: auto;
}

.imgCarousel {
  width: 100%;
  height: 100%;
}

h5 {
  background-color: white;
  border: black 2px solid;
  border-radius: 2px;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.parrafoCarousel {
  background-color: black;
  border: white 2px solid;
  border-radius: 2px;
  color: white;
  font-family: 'Teko', sans-serif;
}

#carouselExampleCaptions {
  width: 45rem;
  height: auto;
  margin: auto;
  
}

/* FIN CAROUSEL */
/* BARRA DE NAVEGACIÓN */

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: #E21717;
  
}

.barraEntera {
  background-color: #E21717;
}

a {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  width: 7rem;
  
  
}

/* FIN BARRA DE NAVEGACIÓN */
/* FOOTER */

footer {
  background-color: #E21717;
  display: block;
  width: 100%;
  

}

.iconoFooter {
  font-size: 3rem;
  color: black;
  display: flex;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.contenedorFooter {
  display: flex;
  
}

.textoFooter {
  text-align: center;
  margin: auto;
  font-family: 'Lobster', cursive;
  color: black;
}

/* FIN FOOTER */
/* PRODUCTOS Y TITULOS */

h2 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  color: black;
  background-color: #E21717;
}

h3 {
  text-align: center;
  margin: 50px;
  font-family: 'DynaPuff', cursive;
  color: black;
}

.imagenesProductos {
  width: 10rem;
  margin: auto;
  
}

.hijoRow{
  margin-bottom: 6rem;
}

.hijoRow img {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* FIN PRODUCTOS Y TITULOS */
/************************************ SECCION OFERTA ***********************************/
/* TEXTO E IMAGEN DE DESCUENTO */

.apartadoOferta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.imgDescuento {
  width: 12rem;
  margin: auto;
  border: black 5px solid;
  border-radius: 2px;
}

/* CARDS */

.cardRow {
  margin: 20px;
  border: 4px black solid;
}

.imgOfertas {
  width: 12rem;
  height: 10rem;
  margin: auto;
}

.card-body {
  margin: auto;
  padding: auto;
}

.ubicacionCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn{
  width: 10rem;
  margin: auto;
  background-color: #E21717;
  display: flex;
  justify-content: center;

}

.card-title{
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  
}

.card-text{
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}
  
  


/**************************** SECCION UBICACIÓN ***************************/

.flexUbicacion div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgUbicacion {
  width: 40rem;
  margin-bottom: 2rem;
  border: 5px black solid;
  border-radius: 5px;
}

.parrafosUbicacion {
  margin-top: 3rem;
  text-align: center;
  font-family: 'DynaPuff', cursive;
  color: black;
}

.sectionUbicacion {
  border: 3px black solid;
  border-radius: 3px;
  margin: 2rem;
}



/************************** SECCIÓN NOSOTROS  ****************************/

.parrafoNosotros {
  margin-top: 3rem;
  text-align: center;
  font-family: 'DynaPuff', cursive;
  color: black;
}

.sectionNosotros {
  border: 3px black solid;
  border-radius: 3px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/************************* SECCIÓN FORMULARIO  ******************************/

.forms, .divCiudad {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.boton {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

/*MOBILE*/
@media screen and(max-width: 850px){
  #carouselExampleCaptions{
    width: auto;
    height: auto;
    margin: auto;
    
  }

  .imgDescuento{
    display: none;
  }

  .iconoFooter{
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    
  }

  .textoFooter{
    font-size: 1rem;
    
    
  }

  .parrafosGenerales{
    margin: 2rem
  }
  
}
  


@import "maps";
@import "extend";
@import "mixin";


